            <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="{:url('Admin/index')}" style="float: right;">
    <div>
        <input type="text" name="search_text"  placeholder="请输入.." autocomplete="off" class="col-md-4 col-sm-4 col-xs-4" style="height:38px;">
        <div class="col-md-4 col-sm-4 col-xs-5">
            <select name="sel" style="height:38px;">
                <option value="adId" selected>按用户编号搜索</option>
                <option value="username">按用户名搜索</option>
                <option value="surname">按姓名搜索</option>
                <option value="status">按用户权限搜索</option>
            </select>
        </div>
        <button type="submit" class="add-btn" class="col-md-4 col-sm-4 col-xs-3" style="margin-right: 0">搜索</button>
    </div>
</form>
</body>
</html>