
<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            {if condition="$receipt_status eq 0"}
            <li><a><i class="fa fa-users"></i> 用户管理 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="{:url('Admin/index')}">用户列表</a></li>
                </ul>
            </li>
            {elseif condition="$receipt_status eq 1"}
            <li><a><i class="fa fa-cogs"></i> 配置信息管理 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="{:url('State/index')}">国家</a></li>
                    <li><a href="{:url('Client/index')}">客户</a></li>
                    <li><a href="{:url('Datas/index')}">数据模板</a></li>
                    <li><a href="{:url('SaleDept/index')}">业务部门</a></li>
                    <li><a href="{:url('Note/index')}">注意事项</a></li>
                    <!--<li><a href="{:url('ReceiptModel/index')}">发票模板管理</a></li>-->
                </ul>
            </li>
            <li><a><i class="fa fa-file-excel-o"></i> 发票管理 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="{:url('Receipt/index')}">发票列表</a></li>
                </ul>
            </li>
            {else/}
            {/if}

        </ul>
    </div>

</div>
<!-- /sidebar menu -->
