<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>基表型号配置</title>
    <link rel="stylesheet" href="__RECORD__/table.css"/>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <!--head-->
                {include file="lic/head"/}
                <!--head-->
                <br />
                <!-- sidebar menu -->
                {include file="lic/left"/}
                <!--/sidebar menu-->

                <!-- /menu footer buttons -->
                {include file="lic/foot"/}
                <!-- /menu footer buttons -->
            </div>
        </div>
        <!-- top navigation -->
        {include file="lic/top"/}
        <!-- /top navigation -->

        <!--del-->
        {include file="met/del"/}

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>基表型号</h3>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                {if condition="in_array('MeterType',$ownways['w_control']) && in_array('aMT',$ownways['w_way'])"}
                                <a href="{:url('MeterType/aMT')}" class="add-btn">添加基表型号</a>
                                <!--<a href="{:url('MeterType/batchAMT')}" class="add-btn">批量添加基表型号</a>-->
                                {/if}
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <!--搜索-->
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                {include file="met/search"/}
                            </div>
                            <div class="x_content">

                                <div class="table-responsive">
                                    <table class="table table-striped jambo_table bulk_action">
                                        <thead>
                                        <tr class="headings">
                                            <th>
                                                <input type="checkbox" id="check-all" class="flat">
                                            </th>
                                            <th>基表型号编号</th>
                                            <th>分类</th>
                                            <th>基表型号</th>
                                            <th class="column-title no-link last" style="text-align: center;"><span class="nobr">操作</span>
                                            </th>

                                        </tr>
                                        </thead>

                                        <tbody>
                                        {volist name="meterTypes" id="v"}
                                        <tr class="even pointer">
                                            <td class="a-center ">
                                                <input type="checkbox" class="flat" name="table_records">
                                            </td>
                                            <td>{$v.meterId}</td>
                                            <td>{$v.parentType}</td>
                                            <td>{$v.meterType}</td>
                                            <td style="text-align: center;">
                                                {if condition="in_array('MeterType',$ownways['w_control']) && in_array('eMT',$ownways['w_way'])"}
                                                <a href="{:url('MeterType/eMT',['meterId'=>$v['meterId'],'page'=>$currentPage])}" title="修改" class="glyphicon glyphicon-edit" style="color: #00a0e9;font-size: 18px;"></a>&nbsp;&nbsp;
                                                {/if}
                                                {if condition="in_array('MeterType',$ownways['w_control']) && in_array('dMT',$ownways['w_way'])"}
                                                <a href="javascript:void (0);" title="删除" class="glyphicon glyphicon-remove class-del" onclick=confirmDel("{$v['meterId']}") style="color: red;font-size: 18px;"></a>
                                                {/if}
                                            </td>
                                        </tr>
                                        {/volist}
                                        </tbody>
                                    </table>
                                    <div style="float: right;">
                                        {$page}
                                    </div>
                                </div>

                    <!-- /page content -->

                </div>
            </div>
        </div>
    </div>
</div>
            </div>
        </div>
    </div>
<!-- jQuery -->
<script src="__VENDOR__/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="__VENDOR__/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="__VENDOR__/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="__VENDOR__/nprogress/nprogress.js"></script>
<!-- iCheck -->
<script src="__VENDOR__/iCheck/icheck.min.js"></script>
<!-- Datatables -->
<script src="__VENDOR__/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="__VENDOR__/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="__VENDOR__/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="__VENDOR__/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="__VENDOR__/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="__VENDOR__/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="__VENDOR__/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="__VENDOR__/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="__VENDOR__/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="__VENDOR__/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="__VENDOR__/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="__VENDOR__/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
<script src="__VENDOR__/jszip/dist/jszip.min.js"></script>
<script src="__VENDOR__/pdfmake/build/pdfmake.min.js"></script>
<script src="__VENDOR__/pdfmake/build/vfs_fonts.js"></script>

<!-- Custom Theme Scripts -->
<script src="__JS__/build/js/custom.min.js"></script>
<script>
    $(function () {
        $(".alert-close").click(function () {
            $(".delete").css("display","none")
        })
        $(".alert-cancel").click(function () {
            $(".delete").css("display","none")
        })
        $(".class-del").click(function () {
            $(".delete").css("display","block")
        })
        $(".pass").click(function () {
            $("#alert-pass-update").css("display","block")
        })

    })
    function confirmDel(meterId) {
        //console.log(adId);
        $.post("{:url('MeterType/meterType')}",{meterId:meterId},function(data){
            // console.log(data);
            if(data) {
                // console.log(data['id']);
                $("input[name='meterId']").val(data[0].meterId)
            }
        },'json');
    }
</script>
</body>

</html>