<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>添加发票</title>
    <link rel="stylesheet" href="__RECORD__/ztree/demo.css" type="text/css">
    <link rel="stylesheet" href="__RECORD__/ztree/metroStyle.css" type="text/css">
    <style type="text/css">
        div#rMenu ul li{
            margin: 1px 0;
            padding: 0 5px;
            cursor: pointer;
            list-style: none outside none;
            background-color: #DFDFDF;
        }
        ul.ztree {
            margin-top: 10px;
            width: 500px;
            height:360px;
            overflow: auto;
            border:0 solid #000000;
            background: white;
        }
        .ztree * {
            font-size: 14px;
            font-family: inherit;
            color: #2f332a;
        }
        a:hover{
            background-color:white;
        }

        .hid{
            display: none;
        }
        .actionBar {
            width: 100%;
            border-top: 1px solid #ddd;
            padding: 10px 5px;
            text-align: center!important;
            margin-top: 10px
        }
    </style>
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <!--head-->
                {include file="lic/head"/}
                <!--head-->
                <br />
                <!-- sidebar menu -->
                {include file="lic/left"/}
                <!--/sidebar menu-->

                <!-- /menu footer buttons -->
                {include file="lic/foot"/}
                <!-- /menu footer buttons -->
            </div>
        </div>
        <!-- top navigation -->
        {include file="lic/top"/}
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>添加发票</h3>
                    </div>

                </div>
                <div class="clearfix"></div>

                <div class="row">

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>发票</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <form method="post" onsubmit="receipt()" action="{:url('Receipt/save')}" data-parsley-validate enctype="multipart/form-data">
                                    <!-- Smart Wizard -->
                                    <div id="wizard" class="form_wizard wizard_horizontal">
                                        <ul class="wizard_steps">
                                            <li>
                                                <a href="#step-1">
                                                    <span class="step_no">1</span>
                                                    <span class="step_descr">
                                              第一步<br />
                                                        <!--<small>Step 1 description</small>-->
                                          </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#step-2">
                                                    <span class="step_no">2</span>
                                                    <span class="step_descr">
                                              第二步<br />
                                                        <!--<small>Step 2 description</small>-->
                                          </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#step-3">
                                                    <span class="step_no">3</span>
                                                    <span class="step_descr">
                                              第三步<br />
                                                        <!--<small>Step 3 description</small>-->
                                          </span>
                                                </a>
                                            </li>
                                        </ul>
                                        <div id="step-1" class="form-horizontal form-label-left">
                                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">发票模板<span class="required">*</span>
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <select class="form-control col-md-7 col-sm-7 col-xs-12" name="laison">
                                                        <option value="1">莱宸公司</option>
                                                        <option value="0">香港公司</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <br>
                                            <!--<div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">新的发票模板
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <input type="file" id="last-name" name="new-model" class="form-control col-md-7 col-xs-12">
                                                </div>

                                            </div>
                                            <br>-->
                                            <div class="form-group col-md-12 col-sm-12 col-xs-12">

                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">国家</label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <select class="form-control col-md-7 col-xs-12" name="sid">
                                                        {volist name="state" id="v"}
                                                        <option value="{$v['sid']}">{$v.state}</option>
                                                        {/volist}
                                                    </select>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="form-group col-md-12 col-sm-12 col-xs-12">

                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">客户 <span class="required">*</span>
                                                </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <select class="form-control col-md-7 col-xs-12" name="cid" required="required">
                                                        {volist name="clients" id="v"}
                                                        <option value="{$v['cid']}">{$v.client}</option>
                                                        {/volist}
                                                    </select>
                                                </div>

                                            </div>
                                            <br>
                                        </div>
                                        <div id="step-2" class="form-horizontal form-label-left">
                                            <div id="form">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">数据分类 <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <select class="form-control col-md-7 col-xs-12" name="type[0]" onchange=setData(this.options[this.options.selectedIndex].value,0)>
                                                            <option value=""></option>
                                                            {volist name="datas" id="v"}
                                                            <option value="{$v['dm_id']}" onchange=setData("{$v['dm_id']}")>{$v.type}</option>
                                                            {/volist}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">SPECIFICATION<span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <textarea rows="2" type="text" name="specification[0]" required="required" class="form-control col-md-7 col-xs-12"></textarea>
                                                    </div>

                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Unit<span class="required">*</span></label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <input type="text" name="unit[0]" required="required" class="form-control col-md-7 col-xs-12">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Qty<span class="required">*</span></label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <input type="text" name="qty[0]" required="required" data-va class="form-control col-md-7 col-xs-12" placeholder="请输入整数">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Unit price<span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <input type="text" name="price[0]" required="required" class="date-picker form-control col-md-7 col-xs-12">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Item picture
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <!--<img name="img" class="form-control col-md-7 col-xs-12">-->
                                                        <input type="file" name="img[0]"/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="control-label col-md-3 col-sm-3 col-xs-12">
                                                        <button type="button" class="delHi">删除分类</button>
                                                        <button type="button" onclick="foradd()">确定</button>
                                                    </div>

                                                </div>
                                            </div>
                                            <div id="receipt"></div>
                                            <div class="form-group">
                                                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                                                    <button type="button" id="add" class="hid" onclick="hidadd()">添加分类</button>
                                                </div>
                                            </div>

                                        </div>
                                        <div id="step-3" class="form-horizontal form-label-left">
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" style="font-size: 18px;">note <span class="required">*</span>
                                                </label>
                                                <div class="control-label col-md-6 col-sm-6 col-xs-12">
                                                    <div class="zTreeDemoBackground left form-group">
                                                        <ul id="treeDemo" class="ztree"></ul>
                                                        <input type="hidden" name="note" value="" required="required">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="actionBar" style="display: none;">
                                            <a type="submit" class="buttonFinish buttonDisabled btn btn-default">导出发票</a>
                                            <a href="#" class="buttonNext btn btn-success">下一步</a>
                                            <a href="#" class="buttonPrevious buttonDisabled btn btn-primary">上一步</a>
                                        </div>
                                    </div>
                                    <!-- End SmartWizard Content -->
                                </form>


                    <!-- /page content -->

                </div>
            </div>
        </div>
    </div>
</div>
        </div>
    </div>
</div>
<!-- jQuery -->
<script src="__VENDOR__/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="__VENDOR__/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="__VENDOR__/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="__VENDOR__/nprogress/nprogress.js"></script>
<!-- Custom Theme Scripts -->
<script src="__JS__/build/js/custom.min.js"></script>
<!-- jQuery Smart Wizard -->
<script src="__VENDOR__/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
<!--ztree-->
<script type="text/javascript" src="__RECORD__/ztree/jquery.ztree.core.js"></script>
<script type="text/javascript" src="__RECORD__/ztree/jquery.ztree.excheck.js"></script>
<script type="text/javascript" src="__RECORD__/ztree/jquery.ztree.exedit.js"></script>
<script>

    var setting = {
        view: {
            selectedMulti: true
        },
        check: {
            enable: true,
            autoCheckTrigger: true
        },
        data: {
            simpleData: {
                enable: true
            }
        },
        edit: {
            enable: false
        }
    };
    setting.check.chkboxType = { "Y" : "s", "N" : "s" };


    var data = '{$jsonnotes}'

    data = JSON.parse(data)
    var zNodes = []
    var all = '全选';
    zNodes[0] = {id:0, pId:0, name:all, open:true, isParent:true}
    for(var i=1;i<data.length;i++){
        zNodes[i] = {id:data[i].nid, pId:0, name:data[i].note}
    }

    $(document).ready(function(){
        $.fn.zTree.init($("#treeDemo"), setting, zNodes);
        var treeObj = $.fn.zTree.getZTreeObj("treeDemo");

        var nodes = treeObj.getChangeCheckedNodes()
        //nodes = Json
        //console.log(nodes)
        var tree = '';
        for(var i=1;i<nodes.length;i++){
            var treeNode = nodes[i];
            if(treeNode.checked == true){
                tree += treeNode.id + ',';
            }
            //console.log((treeNode?treeNode.name:"root") + "checked " +(treeNode.checked?"true":"false"));
        }
        $("input[name='note']").val(tree)
    });

    var newCount = 1;
    function addHoverDom(treeId, treeNode) {
        var sObj = $("#" + treeNode.tId + "_span");
        if (treeNode.editNameFlag || $("#addBtn_"+treeNode.tId).length>0) return;
        /*var addStr = "<span class='button add' id='addBtn_" + treeNode.tId
            + "' title='add node' onfocus='this.blur();'></span>";
        sObj.after(addStr);*/
        var btn = $("#addBtn_"+treeNode.tId);
        if (btn) btn.bind("click", function(){
            var zTree = $.fn.zTree.getZTreeObj("treeDemo");
            zTree.addNodes(treeNode, {id:(100 + newCount), pId:treeNode.id, name:"new node" + (newCount++)});
            return false;
        });
    }
    function removeHoverDom(treeId, treeNode) {
        $("#addBtn_"+treeNode.tId).unbind().remove();
    }

    function receipt(){
        var treeObj = $.fn.zTree.getZTreeObj("treeDemo");
        var nodes = treeObj.getCheckedNodes();
        //console.log(nodes,'nodesnodesnodesnodes')

        var tree = '';
        for(var i=1;i<nodes.length;i++){
            var treeNode = nodes[i]
            if(treeNode.checked == true){
                tree += treeNode.id + ',';
            }
            //console.log((treeNode?treeNode.name:"root") + "checked " +(treeNode.checked?"true":"false"));
        }
        //console.log(tree)
        $("input[name='note']").val(tree)
        //获取所有输入的信息值
        var model = $("select[name='laison']").val();
        var sid = $("select[name='sid']").val();
        var cid = $("select[name='cid']").val();
        var type = $("select[name='type']").val();
        var specification = $("select[name='specification']").val();
        var unit = $("select[name='unit']").val();
        var img = $("select[name='img']").val();
        var qty = $("select[name='qty']").val();
        var price = $("select[name='price']").val();
        var amount = $("select[name='amount']").val();
        var jsonData = {'laison':model,'sid':sid,'cid':cid,'type':type
            ,'specification':specification,'unit':unit,'img':img,'qty':qty,'price':price,'amount':amount,'note':tree};
        //console.log(jsonData)
        //alert(jsonData)
        $.ajax({
            //几个参数需要注意一下
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "" ,//url
            data: jsonData,
            success: function (result) {
                /*console.log(jsonData)
                return true;*/
            }
        });
    }

    var vaid = 0;

    $('#add').click(function(){
        vaid ++;
        console.log(vaid)

        $(`<div id="form">
            <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">数据分类 <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
            <select class="form-control col-md-7 col-xs-12" name="type[]" onchange=setData(this.options[this.options.selectedIndex].value,vaid)>
            <option value=""></option>
             {volist name="datas" id="v"}
             <option value="{$v[\'dm_id\']}" onchange=setData("{$v[\'dm_id\']}")>{$v.type}</option>
              {/volist}
             </select>
            </div>
            </div>
            <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">SPECIFICATION<span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
            <textarea rows="2" type="text" name="specification[${vaid}]" required="required" class="form-control col-md-7 col-xs-12"></textarea>
            </div>
            </div>
            <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Unit<span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" name="unit[]" required="required" class="form-control col-md-7 col-xs-12">
            </div>
            </div>
            <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Qty<span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" name="qty[]" required="required" class="form-control col-md-7 col-xs-12" placeholder="请输入整数">
            </div>
            </div>
            <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Unit price<span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" name="price[]" required="required" class="date-picker form-control col-md-7 col-xs-12">
            </div>
            </div>
            <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Item picture
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="file" name="img[]">
            </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                    <button type="button" class="delHi">删除分类</button>
                    <button type="button" onclick="foradd()">确定</button>
                </div>
            </div>

            </div>`).appendTo('#receipt')

    });
    $(function(){
        $('.x_content').delegate(".delHi","click",function(){
            //alert(123);
            $(this).closest('#form').remove();
            vaid--;
        });

    });
    function foradd() {
        $('#add').removeClass('hid');
    }
    function hidadd() {
        $('#add').addClass('hid');
    }
    // 设置数据分类数据
    function setData(dm_id,vaid) {

        $.post("{:url('Datas/one')}",{dm_id:dm_id},function(data){
            // console.log(data);
            if(data) {
                $("textarea[name='specification["+vaid+"]']").val(data[0].specification)

            }
        },'json');
    }

    /*wizard*/
    function SmartWizard(target, options) {
        //console.log(options)
        this.target       = target;
        this.options      = options;
        this.curStepIdx   = options.selected;
        this.steps        = $(target).children("ul").children("li").children("a"); // Get all anchors
        this.contentWidth = 0;
        this.msgBox = $('<div class="msgBox"><div class="content"></div><a href="#" class="close">X</a></div>');
        this.elmStepContainer = $('<div></div>').addClass("stepContainer");
        this.loader = $('<div>Loading</div>').addClass("loader");
        this.buttons = {
            /*next : $('<a>'+options.labelNext+'</a>').attr("href","#").addClass("buttonNext"),
            previous : $('<a>'+options.labelPrevious+'</a>').attr("href","#").addClass("buttonPrevious"),
            finish  : $('<a>'+options.labelFinish+'</a>').attr("href","{:url('Receipt/addRet')}").addClass("buttonFinish")*/
            next :$('.buttonNext'),
            previous :$('.buttonPrevious'),
            finish :$('.buttonFinish')
        };
        //console.log(this.buttons)
        /*
         * Private functions
         */
        var _init = function($this) {
            var elmActionBar = $('<div></div>').addClass("actionBar");
            elmActionBar.append($this.msgBox);
            $('.close',$this.msgBox).click(function() {
                $this.msgBox.fadeOut("normal");
                return false;
            });

            var allDivs = $this.target.children('div');
            $this.target.children('ul').addClass("anchor");
            allDivs.addClass("content");

            // highlight steps with errors
            if($this.options.errorSteps && $this.options.errorSteps.length>0){
                $.each($this.options.errorSteps, function(i, n){
                    $this.setError({ stepnum: n, iserror:true });
                });
            }

            $this.elmStepContainer.append(allDivs);
            elmActionBar.append($this.loader);
            $this.target.append($this.elmStepContainer);
            elmActionBar.append($this.buttons.finish)
                .append($this.buttons.next)
                .append($this.buttons.previous);
            $this.target.append(elmActionBar);
            this.contentWidth = $this.elmStepContainer.width();

            $($this.buttons.next).click(function() {
                $this.goForward();
                return false;
            });
            $($this.buttons.previous).click(function() {
                $this.goBackward();
                return false;
            });
            $($this.buttons.finish).click(function() {
                if(!$(this).hasClass('buttonDisabled')){
                    if($.isFunction($this.options.onFinish)) {
                        var context = { fromStep: $this.curStepIdx + 1 };
                        if(!$this.options.onFinish.call(this,$($this.steps), context)){
                            return false;
                        }
                    }else{
                        var frm = $this.target.parents('form');
                        if(frm && frm.length){
                            frm.submit();
                        }
                    }
                }
                return false;
            });

            $($this.steps).bind("click", function(e){
                if($this.steps.index(this) == $this.curStepIdx){
                    return false;
                }
                var nextStepIdx = $this.steps.index(this);
                var isDone = $this.steps.eq(nextStepIdx).attr("isDone") - 0;
                if(isDone == 1){
                    _loadContent($this, nextStepIdx);
                }
                return false;
            });

            // Enable keyboard navigation
            if($this.options.keyNavigation){
                $(document).keyup(function(e){
                    if(e.which==39){ // Right Arrow
                        $this.goForward();
                    }else if(e.which==37){ // Left Arrow
                        $this.goBackward();
                    }
                });
            }
            //  Prepare the steps
            _prepareSteps($this);
            // Show the first slected step
            _loadContent($this, $this.curStepIdx);
        };

        var _prepareSteps = function($this) {
            if(! $this.options.enableAllSteps){
                $($this.steps, $this.target).removeClass("selected").removeClass("done").addClass("disabled");
                $($this.steps, $this.target).attr("isDone",0);
            }else{
                $($this.steps, $this.target).removeClass("selected").removeClass("disabled").addClass("done");
                $($this.steps, $this.target).attr("isDone",1);
            }

            $($this.steps, $this.target).each(function(i){
                $($(this).attr("href").replace(/^.+#/, '#'), $this.target).hide();
                $(this).attr("rel",i+1);
            });
        };

        var _step = function ($this, selStep) {
            return $(
                $(selStep, $this.target).attr("href").replace(/^.+#/, '#'),
                $this.target
            );
        };

        var _loadContent = function($this, stepIdx) {
            var selStep = $this.steps.eq(stepIdx);
            var ajaxurl = $this.options.contentURL;
            var ajaxurl_data = $this.options.contentURLData;
            var hasContent = selStep.data('hasContent');
            var stepNum = stepIdx+1;
            if (ajaxurl && ajaxurl.length>0) {
                if ($this.options.contentCache && hasContent) {
                    _showStep($this, stepIdx);
                } else {
                    var ajax_args = {
                        url: ajaxurl,
                        type: "POST",
                        data: ({step_number : stepNum}),
                        dataType: "text",
                        beforeSend: function(){
                            $this.loader.show();
                        },
                        error: function(){
                            $this.loader.hide();
                        },
                        success: function(res){
                            $this.loader.hide();
                            if(res && res.length>0){
                                selStep.data('hasContent',true);
                                _step($this, selStep).html(res);
                                _showStep($this, stepIdx);
                            }
                        }
                    };
                    if (ajaxurl_data) {
                        ajax_args = $.extend(ajax_args, ajaxurl_data(stepNum));
                    }
                    $.ajax(ajax_args);
                }
            }else{
                _showStep($this,stepIdx);
            }
        };

        var _showStep = function($this, stepIdx) {
            var selStep = $this.steps.eq(stepIdx);
            var curStep = $this.steps.eq($this.curStepIdx);
            if(stepIdx != $this.curStepIdx){
                if($.isFunction($this.options.onLeaveStep)) {
                    var context = { fromStep: $this.curStepIdx+1, toStep: stepIdx+1 };
                    if (! $this.options.onLeaveStep.call($this,$(curStep), context)){
                        return false;
                    }
                }
            }

            /*去除了stepContainer的行内样式style*/
            //$this.elmStepContainer.height(_step($this, selStep).outerHeight());

            var prevCurStepIdx = $this.curStepIdx;
            $this.curStepIdx =  stepIdx;
            if ($this.options.transitionEffect == 'slide'){
                _step($this, curStep).slideUp("fast",function(e){
                    _step($this, selStep).slideDown("fast");
                    _setupStep($this,curStep,selStep);
                });
            } else if ($this.options.transitionEffect == 'fade'){
                _step($this, curStep).fadeOut("fast",function(e){
                    _step($this, selStep).fadeIn("fast");
                    _setupStep($this,curStep,selStep);
                });
            } else if ($this.options.transitionEffect == 'slideleft'){
                var nextElmLeft = 0;
                var nextElmLeft1 = null;
                var nextElmLeft = null;
                var curElementLeft = 0;
                if(stepIdx > prevCurStepIdx){
                    nextElmLeft1 = $this.contentWidth + 10;
                    nextElmLeft2 = 0;
                    curElementLeft = 0 - _step($this, curStep).outerWidth();
                } else {
                    nextElmLeft1 = 0 - _step($this, selStep).outerWidth() + 20;
                    nextElmLeft2 = 0;
                    curElementLeft = 10 + _step($this, curStep).outerWidth();
                }
                if (stepIdx == prevCurStepIdx) {
                    nextElmLeft1 = $($(selStep, $this.target).attr("href"), $this.target).outerWidth() + 20;
                    nextElmLeft2 = 0;
                    curElementLeft = 0 - $($(curStep, $this.target).attr("href"), $this.target).outerWidth();
                } else {
                    $($(curStep, $this.target).attr("href"), $this.target).animate({left:curElementLeft},"fast",function(e){
                        $($(curStep, $this.target).attr("href"), $this.target).hide();
                    });
                }

                _step($this, selStep).css("left",nextElmLeft1).show().animate({left:nextElmLeft2},"fast",function(e){
                    _setupStep($this,curStep,selStep);
                });
            } else {
                _step($this, curStep).hide();
                _step($this, selStep).show();
                _setupStep($this,curStep,selStep);
            }
            return true;
        };

        var _setupStep = function($this, curStep, selStep) {
            $(curStep, $this.target).removeClass("selected");
            $(curStep, $this.target).addClass("done");

            $(selStep, $this.target).removeClass("disabled");
            $(selStep, $this.target).removeClass("done");
            $(selStep, $this.target).addClass("selected");

            $(selStep, $this.target).attr("isDone",1);

            _adjustButton($this);

            if($.isFunction($this.options.onShowStep)) {
                var context = { fromStep: parseInt($(curStep).attr('rel')), toStep: parseInt($(selStep).attr('rel')) };
                if(! $this.options.onShowStep.call(this,$(selStep),context)){
                    return false;
                }
            }
            if ($this.options.noForwardJumping) {
                // +2 == +1 (for index to step num) +1 (for next step)
                for (var i = $this.curStepIdx + 2; i <= $this.steps.length; i++) {
                    $this.disableStep(i);
                }
            }
        };

        var _adjustButton = function($this) {
            if (! $this.options.cycleSteps){
                if (0 >= $this.curStepIdx) {
                    $($this.buttons.previous).addClass("buttonDisabled");
                    if ($this.options.hideButtonsOnDisabled) {
                        $($this.buttons.previous).hide();
                    }
                }else{
                    $($this.buttons.previous).removeClass("buttonDisabled");
                    if ($this.options.hideButtonsOnDisabled) {
                        $($this.buttons.previous).show();
                    }
                }
                if (($this.steps.length-1) <= $this.curStepIdx){
                    $($this.buttons.next).addClass("buttonDisabled");
                    if ($this.options.hideButtonsOnDisabled) {
                        $($this.buttons.next).hide();
                    }
                }else{
                    $($this.buttons.next).removeClass("buttonDisabled");
                    if ($this.options.hideButtonsOnDisabled) {
                        $($this.buttons.next).show();
                    }
                }
            }
            // Finish Button
            if (! $this.steps.hasClass('disabled') || $this.options.enableFinishButton){
                $($this.buttons.finish).removeClass("buttonDisabled");
                if ($this.options.hideButtonsOnDisabled) {
                    $($this.buttons.finish).show();
                }
            }else{
                $($this.buttons.finish).addClass("buttonDisabled");
                if ($this.options.hideButtonsOnDisabled) {
                    $($this.buttons.finish).hide();
                }
            }
        };

        /*
         * Public methods
         */

        SmartWizard.prototype.goForward = function(){
            var nextStepIdx = this.curStepIdx + 1;
            if (this.steps.length <= nextStepIdx){
                if (! this.options.cycleSteps){
                    return false;
                }
                nextStepIdx = 0;
            }
            _loadContent(this, nextStepIdx);
        };

        SmartWizard.prototype.goBackward = function(){
            var nextStepIdx = this.curStepIdx-1;
            if (0 > nextStepIdx){
                if (! this.options.cycleSteps){
                    return false;
                }
                nextStepIdx = this.steps.length - 1;
            }
            _loadContent(this, nextStepIdx);
        };

        SmartWizard.prototype.goToStep = function(stepNum){
            var stepIdx = stepNum - 1;
            if (stepIdx >= 0 && stepIdx < this.steps.length) {
                _loadContent(this, stepIdx);
            }
        };
        SmartWizard.prototype.enableStep = function(stepNum) {
            var stepIdx = stepNum - 1;
            if (stepIdx == this.curStepIdx || stepIdx < 0 || stepIdx >= this.steps.length) {
                return false;
            }
            var step = this.steps.eq(stepIdx);
            $(step, this.target).attr("isDone",1);
            $(step, this.target).removeClass("disabled").removeClass("selected").addClass("done");
        }
        SmartWizard.prototype.disableStep = function(stepNum) {
            var stepIdx = stepNum - 1;
            if (stepIdx == this.curStepIdx || stepIdx < 0 || stepIdx >= this.steps.length) {
                return false;
            }
            var step = this.steps.eq(stepIdx);
            $(step, this.target).attr("isDone",0);
            $(step, this.target).removeClass("done").removeClass("selected").addClass("disabled");
        }
        SmartWizard.prototype.currentStep = function() {
            return this.curStepIdx + 1;
        }

        SmartWizard.prototype.showMessage = function (msg) {
            $('.content', this.msgBox).html(msg);
            this.msgBox.show();
        }
        SmartWizard.prototype.hideMessage = function () {
            this.msgBox.fadeOut("normal");
        }
        SmartWizard.prototype.showError = function(stepnum) {
            this.setError(stepnum, true);
        }
        SmartWizard.prototype.hideError = function(stepnum) {
            this.setError(stepnum, false);
        }
        SmartWizard.prototype.setError = function(stepnum,iserror) {
            if (typeof stepnum == "object") {
                iserror = stepnum.iserror;
                stepnum = stepnum.stepnum;
            }

            if (iserror){
                $(this.steps.eq(stepnum-1), this.target).addClass('error')
            }else{
                $(this.steps.eq(stepnum-1), this.target).removeClass("error");
            }
        }

        SmartWizard.prototype.fixHeight = function(){
            var height = 0;

            var selStep = this.steps.eq(this.curStepIdx);
            var stepContainer = _step(this, selStep);
            stepContainer.children().each(function() {
                height += $(this).outerHeight();
            });

            // These values (5 and 20) are experimentally chosen.
            stepContainer.height(height + 5);
            this.elmStepContainer.height(height + 20);
        }

        _init(this);
    };


    (function($){

        $.fn.smartWizard = function(method) {
            var args = arguments;
            var rv = undefined;
            var allObjs = this.each(function() {
                var wiz = $(this).data('smartWizard');
                if (typeof method == 'object' || ! method || ! wiz) {
                    var options = $.extend({}, $.fn.smartWizard.defaults, method || {});
                    if (! wiz) {
                        wiz = new SmartWizard($(this), options);
                        $(this).data('smartWizard', wiz);
                    }
                } else {
                    if (typeof SmartWizard.prototype[method] == "function") {
                        rv = SmartWizard.prototype[method].apply(wiz, Array.prototype.slice.call(args, 1));
                        return rv;
                    } else {
                        $.error('Method ' + method + ' does not exist on jQuery.smartWizard');
                    }
                }
            });
            if (rv === undefined) {
                return allObjs;
            } else {
                return rv;
            }
        };

// Default Properties and Events
        $.fn.smartWizard.defaults = {
            selected: 0,  // Selected Step, 0 = first step
            keyNavigation: true, // Enable/Disable key navigation(left and right keys are used if enabled)
            enableAllSteps: false,
            transitionEffect: 'fade', // Effect on navigation, none/fade/slide/slideleft
            contentURL:null, // content url, Enables Ajax content loading
            contentCache:true, // cache step contents, if false content is fetched always from ajax url
            cycleSteps: false, // cycle step navigation
            enableFinishButton: false, // make finish button enabled always
            hideButtonsOnDisabled: false, // when the previous/next/finish buttons are disabled, hide them instead?
            errorSteps:[],    // Array Steps with errors
            labelNext:'下一步',
            labelPrevious:'上一步',
            labelFinish:'导出发票',
            noForwardJumping: false,
            onLeaveStep: null, // triggers when leaving a step
            onShowStep: null,  // triggers when showing a step
            onFinish: null  // triggers when Finish button is clicked
        };

    })(jQuery);
</script>
</body>
</html>