<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>Order</h3>
        <ul class="nav side-menu">

            {if condition="in_array('Admin',$ownways['w_control']) or in_array('Dept',$ownways['w_control']) or in_array('Role',$ownways['w_control'])"}
            <li><a><i class="fa fa-users"></i> 系统管理 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    {if condition="in_array('Admin',$ownways['w_control']) && in_array('index',$ownways['w_way'])"}
                    <li><a href="{:url('Admin/index')}">用户管理</a></li>
                    {/if}
                    {if condition="in_array('Dept',$ownways['w_control']) && in_array('index',$ownways['w_way'])"}
                    <li><a href="{:url('Dept/index')}">部门管理</a></li>
                    {/if}
                    <!--超级管理员管理菜单-->
                    {if condition="$status eq '3'"}
                    <li><a href="{:url('Way/index')}">菜单管理</a></li>
                    {/if}
                    {if condition="in_array('Role',$ownways['w_control']) && in_array('index',$ownways['w_way'])"}
                    <li><a href="{:url('Role/index')}">角色管理</a></li>
                    {/if}
                </ul>
            </li>
            {/if}
            {if condition="(in_array('State',$ownways['w_control']))
            or (in_array('Client',$ownways['w_control']) or (in_array('MeterType',$ownways['w_control']))
            or (in_array('ModelType',$ownways['w_control'])) or (in_array('Manu',$ownways['w_control']))
            or (in_array('Principle',$ownways['w_control'])))"}
            <li><a><i class="fa fa-binoculars"></i> 可配置信息管理 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    {if condition="in_array('State',$ownways['w_control']) && in_array('stLi',$ownways['w_way'])"}
                    <li><a href="{:url('State/stLi')}">国家配置</a></li>
                    {/if}
                    {if condition="in_array('Client',$ownways['w_control']) && in_array('cliLi',$ownways['w_way'])"}
                    <li><a href="{:url('Client/cliLi')}">客户配置</a></li>
                    {/if}
                    {if condition="in_array('MeterType',$ownways['w_control']) && in_array('index',$ownways['w_way'])"}
                    <li><a href="{:url('MeterType/index')}">基表型号配置</a></li>
                    {/if}
                    {if condition="in_array('ModelType',$ownways['w_control']) && in_array('index',$ownways['w_way'])"}
                    <li><a href="{:url('ModelType/index')}">电子模块类型配置</a></li>
                    {/if}
                    {if condition="in_array('Manu',$ownways['w_control']) && in_array('index',$ownways['w_way'])"}
                    <li><a href="{:url('Manu/index')}">制造商配置</a></li>
                    {/if}
                    {if condition="in_array('Principle',$ownways['w_control']) && in_array('index',$ownways['w_way'])"}
                    <li><a href="{:url('Principle/index')}">生产负责人配置</a></li>
                    {/if}
                </ul>
            </li>
            {/if}
            {if condition="in_array('Order',$ownways['w_control']) && in_array('index',$ownways['w_way']) && $status neq '2'"}
            <li><a><i class="fa fa-key"></i> 订单管理 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="{:url('Order/index')}">订单列表</a></li>
                </ul>
            </li>
            {/if}
            <!--表计组-->
            {if condition="$status eq '2'"}
            <li><a><i class="fa fa-key"></i> 订单管理 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="{:url('MeterOrder/index')}">订单列表</a></li>
                </ul>
            </li>
            {/if}

        </ul>
    </div>

</div>
<!-- /sidebar menu -->
</body>
</html>