<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>统计报表-表计订单数量</title>
    <link rel="stylesheet" href="__RECORD__/bootstrap-table.css">
    <link rel="stylesheet" href="__RECORD__/bootstrap-table-fixed-columns.css">
    <style>
        .jambo_table >tbody >tr{
            height: 41px!important;
        }
        .fixed-table-body-columns{
            height: 411px!important;
            top: 41px!important;
        }
    </style>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <!--head-->
                {include file="lic/head"/}
                <!--head-->
                <br />
                <!-- sidebar menu -->
                {include file="lic/left"/}
                <!--/sidebar menu-->

                <!-- /menu footer buttons -->
                {include file="lic/foot"/}
                <!-- /menu footer buttons -->
            </div>
        </div>
        <!-- top navigation -->
        {include file="lic/top"/}
        <!-- /top navigation -->

        <!--del-->
        {include file="ord/del"/}

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <!--<h3>统计</h3>-->
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <!--<div class="x_title">
                                <label style="font-size: 24px;color: #0e90d2;width: 100px;">美元汇率</label>
                                <input type="text" name="rate" value="" id="rate" onchange="newCharts()" placeholder="默认:6.5" style="width: 100px;height: 36px;line-height: 36px;border-radius: 5px;">
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                </ul>
                            </div>-->

                            <div class="x_content">

                                <div  class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="x_panel tile">

                                        <div class="x_content">
                                            <table class="">

                                                <tr>
                                                    <th class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                        <p style="font-size: 18px;">订单数量对比图-按基表型号分类</p>
                                                        <hr/>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <canvas id="graphQ" class="canvasDoughnut" height="600" width="1000" style="margin: 15px 10px 10px 0;overflow: scroll;" ></canvas>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <!-- /page content -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- jQuery -->
<script src="__VENDOR__/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="__VENDOR__/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- iCheck -->
<script src="__VENDOR__/iCheck/icheck.min.js"></script>

<!-- Custom Theme Scripts -->
<script src="__JS__/build/js/custom.min.js"></script>
<script src="__JS__/echarts.js"></script>
<script>
    var myChartQ = echarts.init(document.getElementById('graphQ'));
    defaultRate(myChartQ)
    function defaultRate(myChartQ) {
        var graphQ = '{$graphQ}';
        graphQ = JSON.parse(graphQ);
        changeRate(graphQ, myChartQ)
    }
    function changeRate(graphQ, myChartQ) {
        /*for meterType*/
        var meterType = [];
        var dataQ = [];
        for(var j=0;j<graphQ.length;j++){
            dataQ[j] = {value:graphQ[j]['value'],name:graphQ[j]['meterType']}
            meterType[j] = graphQ[j]['meterType']
        }
        optionQ = {
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: meterType
            },
            series : [
                {
                    name: '订单数量',
                    type: 'pie',
                    radius : '46%',
                    center: ['46%', '40%'],
                    label:{            //饼图图形上的文本标签
                        normal:{
                            show:true,
                            textStyle : {
                                fontWeight : 300 ,
                                fontSize : 14    //文字的字体大小
                            },
                            formatter:'{b}:{d}%'
                            //formatter:'{b}:{c}￥'
                        }
                    },
                    data:dataQ,
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChartQ.setOption(optionQ);
    }

</script>
</body>
</html>