<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>订单管理</title>
    <link rel="stylesheet" href="__RECORD__/table.css"/>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <!--head-->
                {include file="lic/head"/}
                <!--head-->
                <br />
                <!-- sidebar menu -->
                {include file="lic/left"/}
                <!--/sidebar menu-->

                <!-- /menu footer buttons -->
                {include file="lic/foot"/}
                <!-- /menu footer buttons -->
            </div>
        </div>
        <!-- top navigation -->
        {include file="lic/top"/}
        <!-- /top navigation -->

        <!--del-->
        {include file="ord/del"/}

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>订单</h3>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                {if condition="in_array('Order',$ownways['w_control']) && in_array('add',$ownways['w_way'])"}
                                <a href="{:url('Order/aOrd')}" class="add-btn">添加订单</a>
                                {/if}
                                {if condition="in_array('Order',$ownways['w_control']) && in_array('exportExcel',$ownways['w_way'])"}
                                <a href="{:url('Order/exportExcel')}" class="add-btn">导出订单</a>
                                {/if}
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <!--搜索-->
                            <div class="col-md-12 col-sm-12 col-xs-12" style="float:right;">
                                {include file="ord/search"/}
                            </div>
                            <div class="x_content">

                                <div class="table-responsive">
                                    <table id="table" class="table table-striped jambo_table bulk_action" data-toggle="table">
                                        <thead>
                                        <tr class="headings">
                                            <th>国家</th>
                                            <th>客户</th>

                                            <th>基表型号</th>
                                            <th>订单数量</th>
                                            <th>电子模块类型</th>

                                            <th>模块订单号</th>
                                            <th>模块订单周期(天)</th>
                                            <th>基表组装周期(天)</th>

                                            <th>基表订单号</th>
                                            <th>表号</th>
                                            <th>制造商</th>
                                            <th>生产负责人</th>
                                            <th>生产状态</th>
                                            <th>客户化工具</th>
                                            <th>生产数据校验</th>
                                            <th>发货状态</th>
                                            <th>备注说明</th>
                                            <th class="column-title no-link last" style="text-align: center;width:240px;"><span>操作</span>
                                            </th>

                                        </tr>
                                        </thead>

                                        <tbody>
                                        {volist name="orders" id="v"}
                                        <tr class="even pointer">

                                            <td>{$v.state}</td>
                                            <td>{$v.client}</td>

                                            <td>{$v.meterType}</td>
                                            <td>{$v.orderQty}</td>
                                            <td>{$v.modelType}</td>

                                            <td>{$v.modelNum}</td>
                                            <td>{$v.orderCycle}</td>
                                            <td>{$v.assemCycle}</td>

                                            <td>{$v.orderNum}</td>
                                            <td>{$v.meterStart}~{$v.meterEnd}</td>
                                            <td>{$v.manufacturer}</td>
                                            <td>{$v.productPrinciple}</td>
                                            {if condition="$v['deliveryStatus'] eq 0"}
                                            <td>已完成</td>
                                            {elseif condition="$v['deliveryStatus'] eq 1"}
                                            <td>生产中</td>
                                            {else/}
                                            <td>未下单</td>
                                            {/if}
                                            {if condition="$v['customTool'] eq 0"}
                                            <td>是</td>
                                            {else/}
                                            <td>否</td>
                                            {/if}
                                            {if condition="$v['dataVerify'] eq 0"}
                                            <td>是</td>
                                            {else/}
                                            <td>否</td>
                                            {/if}
                                            {if condition="$v['isStatus'] eq 0"}
                                            <td>是</td>
                                            {else/}
                                            <td>否</td>
                                            {/if}
                                            <td>{$v.comments}</td>

                                            <td>
                                                {if condition="in_array('Order',$ownways['w_control']) && in_array('view',$ownways['w_way'])"}
                                                <a href="{:url('Order/view',['oid'=>$v['oid']])}" title="查看明细" class="glyphicon glyphicon-sunglasses" style="color: #00a0e9;font-size: 18px;"></a>&nbsp;&nbsp;
                                                {/if}
                                                {if condition="in_array('Order',$ownways['w_control']) && in_array('edit',$ownways['w_way'])"}
                                                <a href="{:url('Order/eOrd',['oid'=>$v['oid']])}" title="修改" class="glyphicon glyphicon-edit" style="color: #00a0e9;font-size: 18px;"></a>&nbsp;&nbsp;
                                                {/if}
                                                {if condition="in_array('Order',$ownways['w_control']) && in_array('del',$ownways['w_way'])"}
                                                <a href="javascript:void (0);" title="删除" class="glyphicon glyphicon-remove class-del" onclick=confirmDel("{$v['oid']}") style="color: red;font-size: 18px;"></a>
                                                {/if}
                                            </td>
                                        </tr>
                                        {/volist}
                                        </tbody>
                                    </table>
                                    <div style="float: right;">
                                        {$page}
                                    </div>
                                </div>

                    <!-- /page content -->

                </div>
            </div>
        </div>
    </div>
</div>
            </div>
        </div>
    </div>
<!-- jQuery -->
<script src="__VENDOR__/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="__VENDOR__/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="__VENDOR__/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="__VENDOR__/nprogress/nprogress.js"></script>
<!-- iCheck -->
<script src="__VENDOR__/iCheck/icheck.min.js"></script>
<!-- Datatables -->
<script src="__VENDOR__/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="__VENDOR__/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="__VENDOR__/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="__VENDOR__/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="__VENDOR__/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="__VENDOR__/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="__VENDOR__/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="__VENDOR__/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="__VENDOR__/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="__VENDOR__/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="__VENDOR__/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="__VENDOR__/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
<script src="__VENDOR__/jszip/dist/jszip.min.js"></script>
<script src="__VENDOR__/pdfmake/build/pdfmake.min.js"></script>
<script src="__VENDOR__/pdfmake/build/vfs_fonts.js"></script>

<!-- Custom Theme Scripts -->
<script src="__JS__/build/js/custom.min.js"></script>
<script>
    $(function () {
        $(".alert-close").click(function () {
            $(".delete").css("display","none")
        })
        $(".alert-cancel").click(function () {
            $(".delete").css("display","none")
        })
        $(".class-del").click(function () {
            $(".delete").css("display","block")
        })
        $(".pass").click(function () {
            $("#alert-pass-update").css("display","block")
        })


    })
    function confirmDel(oid) {
        //console.log(adId);
        $.post("{:url('Order/order')}",{oid:oid},function(data){
            // console.log(data);
            if(data) {
                // console.log(data['id']);
                $("input[name='oid']").val(data[0].oid)
            }
        },'json');
    }

</script>
</body>

</html>