<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>修改订单</title>

</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <!--head-->
                {include file="lic/head"/}
                <!--head-->
                <br />
                <!-- sidebar menu -->
                {include file="lic/left"/}
                <!--/sidebar menu-->

                <!-- /menu footer buttons -->
                {include file="lic/foot"/}
                <!-- /menu footer buttons -->
            </div>
        </div>
        <!-- top navigation -->
        {include file="lic/top"/}
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">

                    </div>

                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>修改订单信息</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <br />
                                    <form id="demo-form2" method="post" action="{:url('Order/editOrd')}" data-parsley-validate class="form-horizontal form-label-left" enctype="multipart/form-data">
                                        <input type="hidden" name="oid" value="{$order['oid']}"/>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="state">国家 <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <select id="state" class="form-control col-md-7 col-xs-12" name="sid" required="required">
                                                    <option value="{$order['sid']}">{$order['state']}</option>
                                                    {volist name="state" id="v"}
                                                    <option value="{$v.sid}">{$v.state}</option>
                                                    {/volist}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="client">客户 <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <select id="client" class="form-control col-md-7 col-xs-12" name="cid" required="required">
                                                    <option value="{$order['cid']}">{$order['client']}</option>
                                                    {volist name="clients" id="v"}
                                                    <option value="{$v.cid}">{$v.client}</option>
                                                    {/volist}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="meterType">基表型号 <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <select id="meterType" class="form-control col-md-7 col-xs-12" name="meterId" required="required">
                                                    <option value="{$order['meterId']}">{$order['meterType']}</option>
                                                    {volist name="meterType" id="v"}
                                                    <option value="{$v.meterId}">{$v.meterType}</option>
                                                    {/volist}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">订单数量 <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" name="orderQty" value="{$order['orderQty']}" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="modelType">电子模块类型
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <select id="modelType" class="form-control col-md-7 col-xs-12" name="modelId">
                                                    <option value="{$order['modelId']}">{$order['modelType']}</option>
                                                    {volist name="modelType" id="v"}
                                                    <option value="{$v.modelId}">{$v.modelType}</option>
                                                    {/volist}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="modelNum">模块订单号
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="modelNum" name="modelNum" value="{$order['modelNum']}" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="modelStart">模块下单开始时间
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="date" id="modelStart" name="modelStart" value="{$order['modelStart']}" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="modelEnd">模块下单结束时间
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="date" id="modelEnd" name="modelEnd" value="{$order['modelEnd']}" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="orderNum">基表订单号
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="orderNum" name="orderNum" value="{$order['orderNum']}" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="meterStart">开始表号
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="meterStart" name="meterStart" value="{$order['meterStart']}" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="meterEnd">结束表号
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="meterEnd" name="meterEnd" value="{$order['meterEnd']}" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="assemStart">基表组装开始时间
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="date" id="assemStart" name="assemStart" value="{$order['assemStart']}" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="assemEnd">基表组装完成时间
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="date" id="assemEnd" name="assemEnd" value="{$order['assemEnd']}" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="manufacturer">制造商 <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <select id="manufacturer" class="form-control col-md-7 col-xs-12" name="mfId" required="required">
                                                    <option value="{$order['mfId']}">{$order['manufacturer']}</option>
                                                    {volist name="manu" id="v"}
                                                    <option value="{$v.mfId}">{$v.manufacturer}</option>
                                                    {/volist}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="productPrinciple">生产负责人 <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <select id="productPrinciple" class="form-control col-md-7 col-xs-12" name="pid" required="required">
                                                    <option value="{$order['pid']}">{$order['productPrinciple']}</option>
                                                    {volist name="principle" id="v"}
                                                    <option value="{$v.pid}">{$v.productPrinciple}</option>
                                                    {/volist}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="deliveryStatus">生产状态 <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <select id="deliveryStatus" class="form-control col-md-7 col-xs-12" name="deliveryStatus" required="required">
                                                    {if condition="$order['deliveryStatus'] eq 0"}
                                                    <option value="{$order['deliveryStatus']}">已发货</option>
                                                    <option value="1">生产中</option>
                                                    <option value="2">未下单</option>
                                                    {elseif condition="$order['deliveryStatus'] eq 1"}
                                                    <option value="{$order['deliveryStatus']}">生产中</option>
                                                    <option value="0">已发货</option>
                                                    <option value="2">未下单</option>
                                                    {else/}
                                                    <option value="{$order['deliveryStatus']}">未下单</option>
                                                    <option value="1">生产中</option>
                                                    <option value="0">已发货</option>
                                                    {/if}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">备注
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <textarea type="text" rows="2" name="comments" class="form-control col-md-7 col-xs-12">{$order['comments']}</textarea>
                                            </div>
                                        </div>

                                        <div class="ln_solid"></div>
                                        <div class="form-group">
                                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                                <a class="btn btn-primary" href="{:url('Order/index')}" type="button">取消</a>
                                                <button type="submit" class="btn btn-success">确定</button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /page content -->

                </div>
            </div>
        </div>
    </div>
</div>
<!-- jQuery -->
<script src="__VENDOR__/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="__VENDOR__/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="__VENDOR__/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="__VENDOR__/nprogress/nprogress.js"></script>
<!-- bootstrap-progressbar -->
<script src="__VENDOR__/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="__VENDOR__/iCheck/icheck.min.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="__VENDOR__/moment/min/moment.min.js"></script>
<script src="__VENDOR__/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- bootstrap-wysiwyg -->
<script src="__VENDOR__/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
<script src="__VENDOR__/jquery.hotkeys/jquery.hotkeys.js"></script>
<script src="__VENDOR__/google-code-prettify/src/prettify.js"></script>
<!-- jQuery Tags Input -->
<script src="__VENDOR__/jquery.tagsinput/src/jquery.tagsinput.js"></script>
<!-- Switchery -->
<script src="__VENDOR__/switchery/dist/switchery.min.js"></script>
<!-- Select2 -->
<script src="__VENDOR__/select2/dist/js/select2.full.min.js"></script>
<!-- Parsley -->
<script src="__VENDOR__/parsleyjs/dist/parsley.min.js"></script>
<!-- Autosize -->
<script src="__VENDOR__/autosize/dist/autosize.min.js"></script>
<!-- jQuery autocomplete -->
<script src="__VENDOR__/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
<!-- starrr -->
<script src="__VENDOR__/starrr/dist/starrr.js"></script>
<!-- Custom Theme Scripts -->
<script src="__JS__/build/js/custom.min.js"></script>

</body>
</html>
