<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>查看订单详情</title>

</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <!--head-->
                {include file="lic/head"/}
                <!--head-->
                <br />
                <!-- sidebar menu -->
                {include file="lic/left"/}
                <!--/sidebar menu-->

                <!-- /menu footer buttons -->
                {include file="lic/foot"/}
                <!-- /menu footer buttons -->
            </div>
        </div>
        <!-- top navigation -->
        {include file="lic/top"/}
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">

                    </div>

                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>查看订单信息</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <br />
                                    <form id="demo-form2" method="post" action="#" data-parsley-validate class="form-horizontal form-label-left" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">订单编号
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" name="oid" value="{$order['oid']}" readonly class="form-control col-md-7 col-xs-12"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="state">国家
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <select id="state" class="form-control col-md-7 col-xs-12" name="state" readonly>
                                                    <option value="{$order['state']}">{$order['state']}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="client">客户
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <select id="client" class="form-control col-md-7 col-xs-12" name="client" readonly>
                                                    <option value="{$order['client']}">{$order['client']}</option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">业务部门
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <select class="form-control col-md-7 col-xs-12" name="sale_id" readonly>
                                                    <option value="{$order['sale_id']}">{$order['sale_name']}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="meterType">基表型号
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <select id="meterType" class="form-control col-md-7 col-xs-12" name="meterType" readonly>
                                                    <option value="{$order['meterType']}">{$order['meterType']}</option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">订单数量
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" name="orderQty" value="{$order['orderQty']}" readonly class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">订单金额
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="sumAmounts" name="sumAmounts" readonly value="{$order['sumAmounts']} {$order['sumUnits']}" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="modelType">电子模块类型
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <select id="modelType" class="form-control col-md-7 col-xs-12" name="modelType" readonly>
                                                    <option value="{$order['modelType']}">{$order['modelType']}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="modelNum">模块订单号
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="modelNum" name="modelNum" value="{$order['modelNum']}" readonly class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="modelNum">模块数量
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="modelQty" readonly name="modelQty" value="{$order['modelQty']}" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="modelStart">模块下单开始时间
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="date" id="modelStart" name="modelStart" value="{$order['modelStart']}" readonly class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="modelEnd">模块下单结束时间
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="date" id="modelEnd" name="modelEnd" value="{$order['modelEnd']}" readonly class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="orderNum">基表订单号
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="orderNum" name="orderNum" value="{$order['orderNum']}" readonly class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="orderCycle">模块订单周期
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="orderCycle" name="orderCycle" value="{$order['orderCycle']}&nbsp;天" readonly class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="meterStart">开始表号
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="meterStart" name="meterStart" value="{$order['meterStart']}" readonly class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="meterEnd">结束表号
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="meterEnd" name="meterEnd" value="{$order['meterEnd']}" readonly class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="assemStart">基表组装开始时间
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="date" id="assemStart" name="assemStart" value="{$order['assemStart']}" readonly class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="assemEnd">基表组装完成时间
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="date" id="assemEnd" name="assemEnd" value="{$order['assemEnd']}" readonly class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="assemCycle">基表组装周期
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="assemCycle" name="assemCycle" value="{$order['assemCycle']}&nbsp;天" readonly class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="manufacturer">制造商
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <select id="manufacturer" class="form-control col-md-7 col-xs-12" name="manufacturer" readonly>
                                                    <option value="{$order['manufacturer']}">{$order['manufacturer']}</option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="productPrinciple">生产负责人
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <select id="productPrinciple" class="form-control col-md-7 col-xs-12" name="productPrinciple" readonly>
                                                    <option value="{$order['productPrinciple']}">{$order['productPrinciple']}</option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="deliveryStatus">生产状态
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <select id="deliveryStatus" class="form-control col-md-7 col-xs-12" name="deliveryStatus" readonly>
                                                    {if condition="$order['deliveryStatus'] eq 0"}
                                                    <option value="{$order['deliveryStatus']}">已完成</option>
                                                    {elseif condition="$order['deliveryStatus'] eq 1"}
                                                    <option value="{$order['deliveryStatus']}">生产中</option>
                                                    {else/}
                                                    <option value="{$order['deliveryStatus']}">未下单</option>
                                                    {/if}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">客户化工具
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <select class="form-control col-md-7 col-xs-12" readonly name="customTool" required="required">
                                                    {if condition="$order['customTool'] eq '0'"}
                                                    <option value="{$order['customTool']}">是</option>
                                                    {else/}
                                                    <option value="{$order['customTool']}">否</option>
                                                    {/if}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">生产数据校验
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <select class="form-control col-md-7 col-xs-12" readonly name="dataVerify" required="required">
                                                    {if condition="$order['dataVerify'] eq 0"}
                                                    <option value="{$order['dataVerify']}">是</option>
                                                    {else/}
                                                    <option value="{$order['dataVerify']}">否</option>
                                                    {/if}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">发货状态 <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <select class="form-control col-md-7 col-xs-12" readonly name="isStatus" required="required">
                                                    {if condition="$order['isStatus'] eq 0"}
                                                    <option value="{$order['isStatus']}">是</option>
                                                    {else/}
                                                    <option value="{$order['isStatus']}">否</option>
                                                    {/if}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">备注
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <textarea type="text" rows="2" name="comments" readonly class="form-control col-md-7 col-xs-12">{$order['comments']}</textarea>
                                            </div>
                                        </div>

                                        <div class="ln_solid"></div>
                                        <div class="form-group">
                                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                                <a class="btn btn-primary" href="{:url('Order/index')}" type="button">返回列表</a>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /page content -->

                </div>
            </div>
        </div>
    </div>
</div>
<!-- jQuery -->
<script src="__VENDOR__/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="__VENDOR__/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="__VENDOR__/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="__VENDOR__/nprogress/nprogress.js"></script>
<!-- bootstrap-progressbar -->
<script src="__VENDOR__/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="__VENDOR__/iCheck/icheck.min.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="__VENDOR__/moment/min/moment.min.js"></script>
<script src="__VENDOR__/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- bootstrap-wysiwyg -->
<script src="__VENDOR__/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
<script src="__VENDOR__/jquery.hotkeys/jquery.hotkeys.js"></script>
<script src="__VENDOR__/google-code-prettify/src/prettify.js"></script>
<!-- jQuery Tags Input -->
<script src="__VENDOR__/jquery.tagsinput/src/jquery.tagsinput.js"></script>
<!-- Switchery -->
<script src="__VENDOR__/switchery/dist/switchery.min.js"></script>
<!-- Select2 -->
<script src="__VENDOR__/select2/dist/js/select2.full.min.js"></script>
<!-- Parsley -->
<script src="__VENDOR__/parsleyjs/dist/parsley.min.js"></script>
<!-- Autosize -->
<script src="__VENDOR__/autosize/dist/autosize.min.js"></script>
<!-- jQuery autocomplete -->
<script src="__VENDOR__/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
<!-- starrr -->
<script src="__VENDOR__/starrr/dist/starrr.js"></script>
<!-- Custom Theme Scripts -->
<script src="__JS__/build/js/custom.min.js"></script>

</body>
</html>
